[Desktop Entry]
Name=OpenPlotter Pypilot
Exec=openplotter-pypilot
Icon=openplotter-pypilot
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
