[Desktop Entry]
Name=OpenPlotter My App
Exec=openplotter-myapp
Icon=openplotter-myapp
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
